# .github/workflows/packer-ami.yml
name: Build AMI from Docker image

on:
  workflow_dispatch: {}   # manual only

env:
  AWS_REGION: us-east-1
  DOCKER_IMAGE: akshithanandre/spring-boot-demo:latest  # latest from your docker workflow

jobs:
  build-ami:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Packer
        uses: hashicorp/setup-packer@v3
        with:
          version: latest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Packer init
        working-directory: Infra/packer
        run: packer init app-ami.pkr.hcl

      - name: Packer build AMI
        working-directory: Infra/packer
        id: packer-build
        env:
          AWS_REGION: ${{ env.AWS_REGION }}
          DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
        run: |
          AMI_ID=$(packer build -machine-readable \
            -var "aws_region=${AWS_REGION}" \
            -var "docker_image=${DOCKER_IMAGE}" \
            app-ami.pkr.hcl | awk -F, '$0 ~/artifact,0,id/ {print $6}' | sed 's/.*://')

          echo "Built AMI: $AMI_ID"
          echo "ami_id=$AMI_ID" >> "$GITHUB_OUTPUT"

      - name: Show AMI ID
        run: echo "AMI ID from Packer = ${{ steps.packer-build.outputs.ami_id }}"



