# .github/workflows/packer-ami.yml
name: Build AMI from Docker image

on:
  workflow_dispatch: {}   # manual only

env:
  AWS_REGION: us-east-1
  DOCKER_IMAGE: akshithanandre/spring-boot-demo:latest  # image pushed by your docker workflow

jobs:
  build-ami:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Packer
        uses: hashicorp/setup-packer@v3
        with:
            version: "1.14.3"

      - name: Configure AWS credentials
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws sts get-caller-identity || echo "AWS creds check complete"

      - name: Packer init
        working-directory: Infra/packer
        run: |
          packer init app-ami.pkr.hcl


      - name: Packer validate
        working-directory: Infra/packer
        env:
          AWS_REGION: ${{ env.AWS_REGION }}
          DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
        run: |
          packer validate \
            -var "aws_region=${AWS_REGION}" \
            -var "docker_image=${DOCKER_IMAGE}" \
            app-ami.pkr.hcl

      - name: Packer build AMI
        id: packer-build
        working-directory: Infra/packer
        env:
          AWS_REGION: ${{ env.AWS_REGION }}
          DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
        run: |
          echo "Using docker image: ${DOCKER_IMAGE}"

          # run packer with machine-readable output and capture it
          PACKER_LOG=1 packer build -machine-readable \
            -var "aws_region=${AWS_REGION}" \
            -var "docker_image=${DOCKER_IMAGE}" \
            app-ami.pkr.hcl | tee packer-output.log

          # extract AMI ID from the machine-readable log
          AMI_ID=$(grep -m1 'artifact,0,id' packer-output.log | awk -F, '{print $6}' | sed 's/.*://')
          echo "AMI_ID=${AMI_ID}"

          echo "ami_id=${AMI_ID}" >> "$GITHUB_OUTPUT"

      - name: Show AMI ID
        run: echo "AMI ID from Packer = ${{ steps.packer-build.outputs.ami_id }}"
